.popup-forgot__password-overlay {
    min-height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: var(--overlay-bg-color);
    z-index: 2;
}

.popup-forgot__password-wrapper {
    min-height: 462px;
    max-width: 501px;
    border-radius: 14px;
    box-shadow: 0 3px 6px var(--secondary-color);
    background-color: var(--primary-bg-color1);
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 5rem auto;
    z-index: 3;
    position: relative;
}

.popup-forgot__password-wrapper .close-btn {
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.form-forgot__password {
    margin: auto;
}

.form-forgot__password div > .input-field,
.form-forgot__password div > .form-btn {
    font-family: "Caros Regular";
    font-size: 18px;
}

.form-forgot__password div > .form-btn {
    color: rgba(255, 255, 255, .3);
    margin-top: 1rem;
}

.form-forgot__password div > .form-btn:hover {
    color: #ffffff;
}

.error-msg-span {
    color: var(--secondary-color);
}


@media (max-width: 501px) {
    .popup-forgot__password-wrapper {
        max-width: 400px;
    }
    .form-forgot__password div > .input-field {
        width: 300px;
    }

}

@media (max-width: 350px) {
    .popup-forgot__password-wrapper {
        max-width: 300px;
    }
}