.register-page-hero {
  background-image: url("../assets/header/register_bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-bottom: 2rem;
  background-color: whitesmoke;
  position: relative;
  z-index: 0;
}

.register-page-hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}
.register-page-hero .logo-wrapper {
  padding-top: 1rem;
  padding-left: 3rem;
}

.register-wrapper {
  height: 700px;
  max-width: 663.98px;
  margin: 1rem auto;
  background-image: url("../assets/header/register_bg_ticket.png");
  background-size: 100% 100%;
  overflow: hidden;
}
@media (max-width: 750px) {
  .register-wrapper {
    height: 700px;
    max-width: 500px;
  }
  .form-control.register > div > div .input-field {
    width: 400px !important;
  }
  .form-btn.register {
    width: 200px !important;
    height: 64px !important;
    margin: auto 0;
    font-size: 16px;
  }
  .otp-wrapper {
    justify-content: center;
  }
  .otp-wrapper > .form-btn.otp,
  .otp-wrapper > .input-field.otp {
    width: 180px !important;
  }
}

@media (max-width: 450px) {
  .register-wrapper {
    height: 700px;
    max-width: 350px;
  }
  .form-control.register > div > div .input-field {
    width: 300px !important;
  }
  .form-btn.register {
    width: 200px !important;
    height: 64px !important;
    margin: auto 0;
    font-size: 16px;
  }
  .otp-wrapper > .form-btn.otp,
  .otp-wrapper > .input-field.otp {
    width: 180px !important;
  }
  .register-wrapper .sub-heading {
    position: relative;
    top: 3rem;
    left: 2rem !important;
  }
}

@media (max-width: 320px) {
  .register-wrapper {
    height: 700px;
    max-width: 300px;
  }
  .form-control.register > div > div .input-field {
    width: 250px !important;
  }
  .form-btn.register {
    width: 200px !important;
    height: 64px !important;
    margin: auto 0;
    font-size: 16px;
  }
  .otp-wrapper > .form-btn.otp,
  .otp-wrapper > .input-field.otp {
    width: 180px !important;
  }
  .register-wrapper .sub-heading {
    position: relative;
    top: 3rem;
    left: 1rem !important;
  }
}

.register-wrapper .sub-heading {
  position: relative;
  top: 3rem;
  left: 5rem;
}

.form-control.register {
  margin-top: 4rem;
}

.form-control.register > div .input-field {
  font-size: 16px;
  width: 502px;
}

.input-field.otp,
.form-btn.otp,
.form-btn.register {
  width: 226px !important;
  height: 64px;
  margin: auto 0;
  font-size: 16px;
}

.form-btn.register {
  margin-top: 2rem;
}

.otp-wrapper {
  display: flex;
  flex-flow: wrap;
  text-align: center;
  gap: 1rem 2rem;
  margin-top: 1rem;
}
