.movieCardImage {
  cursor: pointer;
  width: 305px;
  height: 428px;
  border-radius: var(--border-radius);
  object-fit: all;
  border-radius: 14px;
}

.movieDetails {
  width: 305px;
  margin: -1rem 0 2rem 0;
}

.movieDetails > * {
  margin-top: 0.6rem !important;
}

.paragraph.movieCard {
  font-family: "Caros Regular";
  font-size: var(--font-size, 16px) !important;
  margin: 0.5rem 0;
  opacity: 0.51;
}

.starsWrapper > img {
  margin-right: 8px;
}
