header {
  display: flex;
  flex-flow: wrap;
  padding: 12px 3rem 1rem;
  gap: 0 3rem;
}
._10px {
  font-size: 10px !important;
  position: relative;
  top: -5px;
}

@media screen and (min-width: 700px) {
  header {
    height: 90px;
  }
}

header > * {
  flex: 1 1 auto;
  align-self: flex-start;
}

header > *:last-child {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
  align-self: flex-start;
  padding-top: 1rem;
}

@media screen and (max-width: 620px) {
  header > *:last-child {
    margin-top: -2rem;
  }
}

@media screen and (max-width: 580px) {
  header > *:last-child {
    justify-content: center;
  }
  header > *:first-child {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 412px) {
  header > *:last-child > *:last-child {
    width: max-content;
  }
}

@media screen and (max-width: 320px) {
  .nav-wrapper {
    width: 300px;
    margin-left: -2.8rem !important;
  }
  .nav-wrapper > *:first-child {
    position: relative;
    left: 2rem;
  }
  .nav-wrapper > *:last-child {
    position: relative;
    left: -2rem;
  }
  .nav-wrapper > *:last-child > * {
    width: 4rem;
  }
}

header > *:last-child > * {
  cursor: pointer;
}

header > *:last-child > *:not(:last-child) {
  margin-right: 2rem;
}

header > *:last-child > *:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-font-color);
  border-radius: 5px;
  height: 2rem;
  padding: 0 0.8rem;
}

header > *:last-child > *:last-child > *:first-child > *:first-child {
  margin-right: 1rem;
}

header > *:last-child > *:nth-child(2) {
  border: 1px solid var(--secondary-color);
  height: 2rem;
  padding: 0 2em;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius, 5px);
  transition: background-color 0.1s ease-out;
}

header > *:last-child > *:nth-child(2):hover {
  background-color: var(--hover-color);
}

header > *:last-child > *:nth-child(2):active {
  background-color: var(--secondary-color);
}

.overlayFixed {
  cursor: initial;
  z-index: 2;
  position: absolute;
  top: 100%;
  margin-top: 5px;
  right: 0;
  background-color: rgba(73, 71, 71, 1);
  border-radius: 5px;
  box-shadow: 0 3px 3px var(--red-box-shadow-color);
  animation: top-anim 0.5s ease-out;
  transition: animation 1s;
  padding-bottom: 5px;
}

@keyframes top-anim {
  from {
    transform: translateY(-500px);
  }
  to {
    transform: translateY(0);
  }
}


.subMenuWrapper {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  width: 300px;
  min-width: max-content;
  height: 350px;
  position: relative;
  overflow: hidden;
}

.subMenuWrapper > * {
  padding: 0 2rem;
}

.subMenuWrapper > *:last-child > * > *:last-child {
  position: relative;
  width: max-content;
  right: 3rem;
}



.subMenuWrapper > *:first-child {
  background-color: var(--primary-bg-color);
  display: flex;
  justify-content: space-between;
}

.subMenuWrapper > *:not(:last-child),
.subMenuWrapper > *:last-child > * {
  display: flex;
}

.enableCursor {
    cursor: pointer;
    width: calc(100% + 4rem);
    position: relative;
    left: -2rem;
    padding: 0 2rem;
}

.enableCursor.lastOption {
  margin-bottom: .5rem;
}

.enableCursor:hover {
  background-color: rgba(187, 184, 184, 0.1);
}

.disableCursor {
    cursor: text;
}

.disabled {
    color: var(--gray-font-color);
}

.enabled {
    color: #ffffff;
}

.btnEnabled {
  display: flex;
  border: 0;
  width: calc(100% + 3rem);
  background-color: var(--secondary-color);
  color: var(--primary-font-color);
  font-size: 18px;
  text-align: center;
  justify-content: center;
  position: relative;
  left: -1.5rem;
  margin: auto;
  padding: .6rem 0;
  border-radius: 7px;
  cursor: pointer;
}

.btnEnabled > button {
  text-align: inherit;
  width: 100% !important;
  border: 0;
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  position: absolute;
  left: 0;
}

.btnDisabled {
  display: none;
  visibility: collapse;
}

.subMenuWrapper > *:last-child > * > *:not(:last-child) {
  margin-right: 4rem;
}

.subMenuLoginOption {
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  height: 34px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  position: relative;
  top: 1rem;
  color: var(--primary-font-color);
  transition: background-color 0.1s ease-out;
  font-size: 18px !important;
}

.subMenuOption {
  position: relative;
}

.subMenuLoginOption:hover {
  background-color: var(--hover-color);
}

.subMenuLoginOption:active {
  background-color: var(--secondary-color);
}

.locationOption {
  position: relative;
}

.subMenuOption.activeBg {
  background-color: var(--secondary-color) !important;
}

.profileIcon {
  width: 45px;
  height: 50px;
  margin: auto 0;
  border-radius: 3px;
}

.profileIcon:hover {
  background-color: rgba(124, 124, 124, 0.3);
}