
.section3-wrapper {
    margin: 2rem 3rem;
  }
  .mcontainer {
    overflow-x: scroll;
    position: relative;
  }
  .mcontainer::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  .movie-heading {
    margin-bottom: 3rem;
  }
  .movies_container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .movie-card {
    flex-basis: 1 1 100%;
    width: 25rem;
    height: 35rem;
    margin-top: 5rem;
  }
  .movie-card-img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
  }
  
  .img-movie {
    height: auto;
    width: 11em;
    height: 16em;
    border-radius: var(--border-radius);
    margin-right: 2rem;
    cursor: pointer;
  }
  .img-movie > img {
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius);
  }
  .movie-name {
    font-size: 1.6rem;
  }
  
  .movie-cards-container {
    display: flex;
  }
  
  .movie-details {
    margin-right: 2rem;
  }
  .movie-details-container {
    display: flex;
  }
  .movie-details-container > * {
    width: 11em;
  }