

footer {
    padding: 4rem 3rem 5rem;
    border-top: 2px solid var(--gray-border-color);
  }
  footer > *:last-child {
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap;
    gap: 1rem;
  }
  footer > *:last-child > * {
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding: 0 1rem;
    border-radius: 3px;
    transition: background-color var(--hover-transition-delay) ease-out;
  }
  footer > *:last-child > *:hover {
    background-color: var(--hover-color);
  }
  footer > *:last-child > * > *:last-child {
    text-align: left;
    width: 5em;
    margin-left: 1rem;
  }
  