footer {
  padding: 4rem 3rem 5rem;
  border-top: 2px solid var(--gray-border-color);
  background: url("../../../assets/body/projection.svg") no-repeat center;
  background-size: contain;
}
.footerLogoWrapper > span {
  cursor: pointer;
}
footer > *:last-child {
  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap;
  gap: 1rem;
  margin-top: 4rem;
}
footer > *:last-child > * {
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 0 1rem;
  border-radius: 3px;
  transition: background-color var(--hover-transition-delay) ease-out;
}
footer > *:last-child > *:hover {
  background-color: var(--hover-color);
}
footer > *:last-child > * > *:last-child {
  text-align: left;
  width: 5em;
  margin-left: 1rem;
}
