@font-face {
    font-family: Caros;
    src: url('../assets/caros-cufonfonts-webfont/cretype  Caros.woff');
}

@font-face {
    font-family: CarosLight;
    src: url('../assets/caros-cufonfonts-webfont/cretype  Caros Light.woff');
}


@font-face {
    font-family: CarosMedium;
    src: url('../assets/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: BalsamiqSans;
    src: url('../assets/Balsamiq_Sans/BalsamiqSans-Italic.ttf')
}

@font-face {
    font-family: CarosLighter;
    src: url('../assets/caros-cufonfonts-webfont/cretype\ \ Caros\ ExtraLight.woff');
}


html {
    height: 100%;
    width: 100%;
    font-size: 62.5%;
    --fixed-margin: 7rem;
    --primary-color: rgba(248,68,100, .95);
    --mini-heading-font-size: 2.5rem;
    --normal-p-font-size: 2rem;
    --border-radius: 6px;
    --header-menu-bg-color: #f9f9f9;
    --dark-theme-color: #000000;
    --font-color: #f9f9f9;
    --header-border-radius: 3px;
    --secondary-color: #1a1a1a;
    --mini-heading-font-size: 1.7rem;
    --font-size: 1.5rem;
    --small-font-size: 1.4rem;
    --very-small-font-size: 1.2rem;
    --gray-color: #919191;
    --font-opac-color: rgba(255, 255, 255, .5);
    --font-opac-80-color: rgba(255, 255, 255, .8);
    --success-color: rgba(9,141,44, 1);
    --warning-color: rgba(158, 162, 18, 1);
    --thetre-timing-border-color: #333333;
    --ticket-card-bg-color: #141414;
    --after-authenticate-profile-menu-color: #2c2c2c;

}

.ml-4 {
    margin-left: 4rem;
}

.default-size {
    font-size: var(--font-size);
}

.normal-p {
    font-size: var(--small-font-size);
}

.very-small-font-size {
    font-size: var(--very-small-font-size);
}

.text-left {
    text-align: left !important;
}

::selection {
    background-color: var(--primary-color);
    color: var(--header-menu-bg-color);
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    font-size: 2.1rem;
    background-color: var(--dark-theme-color);
    -webkit-font-smoothing: antialiased;
    color: var(--font-color);
    position: relative;
    z-index: 0;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    -webkit-appearance: none;
    width: .7rem;
    background-color: var(--secondary-color);
    opacity: .5;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border: 2px solid transparent;
}
body::-webkit-scrollbar-button {
    background-color: var(--font-color);
    height: .5rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Caros;
}

.auto-adjust {
    margin: 0 var(--fixed-margin);
}

.white {
    color: var(--font-color) i !important;
}

._p {
    font-size: 1.5rem;
    font-family: CarosMedium;
}

.normal_font {
    font-family: CarosLighter;
}

.normalized-font-size {
    font-size: 1.7rem !important;
}

.mini-heading {
    font-size: var(--mini-heading-font-size);
}

.unified-p {
    display: inline-block;
    font-size: var(--small-font-size) !important;
    position: relative;
}

.middle-img {
    vertical-align: middle;
}

.flex-column {
    display: flex;
    flex-direction: column !important;
}

.flex-column.center {
    justify-content: center;
    align-items: center;
}

.auto-fit-p {
    width: 45ch;
}

.m-05 {
    position: relative;
    left: .5rem;
}

.m-1 {
    position: relative;
    left: 1rem;
}

.m-2 {
    position: relative;
    left: 1.2rem;
}

.flex {
    display: flex;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.star-rating-container > * {
    display: inline-block;
    margin-right: 1rem;
}

.close-icon {
    display: inline-block;
    color: var(--primary-color);
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
}
.close-icon-for-login {
    display: inline-block;
    color: var(--primary-color);
    position: absolute;
    top: -7rem;
    right: -8rem;
    cursor: pointer;
    z-index: 999999;
    font-size: 5rem;
}

.close-icon-for-forgot {
    height: 5rem !important;
    width: 5rem !important;
    background-color: red !important;
    display: inline-block;
    color: var(--primary-color);
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 999999;
    font-size: 5rem;
    border: 3px solid red;
}

.hover-activate-underline:hover {
    text-decoration: underline !important;
}

.clear-both {
    margin: auto 3rem;
}


/* Profile Menu css */

.menu-container {
    z-index: 9999;
    width: 15em;
    position: fixed;
    right: 7rem;
    top: 7rem;
    background-color: #1a1a1a;
    border-radius: var(--border-radius);
    height: max(14em, 17em);
    box-shadow: 0 3px 7px -4px var(--primary-color);
}

.menu-top-bar {
    background-color: var(--dark-theme-color);
}

.menu-top-bar > * {
    position: relative;
}

.greet_p {
    font-size: var(--font-size);
    left: 2rem;
}

.menu-login-btn {
    height: 3rem;
    padding: .35rem 2rem;
    border: 2px solid var(--primary-color);
    background-color: inherit;
    color: var(--font-color);
    border-radius: var(--header-border-radius);
    right: 2rem;
    outline: 0;
    cursor: pointer;
    font-size: var(--font-size);
    text-decoration: none;
}

.menu-options-container {
    list-style: none;
}

.option {
    display: flex;
    font-size: var(--small-font-size);
    line-height: 4;
}

.menu-option {
    display: inline-block;
    width: 100%;
    cursor: not-allowed;
}

.user-option {
    display: flex;
    font-size: var(--small-font-size);
    line-height: 4;
}

.user-menu-container {
    z-index: 9999;
    width: 15em;
    position: fixed;
    right: 7rem;
    top: 7rem;
    background-color: #1a1a1a;
    border-radius: var(--border-radius);
    height: max(14em, 17em);
    box-shadow: 0 3px 7px -4px var(--primary-color);
    color: var(--font-color) !important;
}

.user-menu-option {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    color: white !important;
    opacity: 1 !important;
}

.option-close,
.option-logout {
    padding: 1rem 0;
    margin-top: 4em;
    text-align: center;
    background-color: var(--primary-color);
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: CarosLighter;
    font-size: var(--small-font-size);
    border-radius: 0 0 var(--header-border-radius) var(--header-border-radius);
    cursor: pointer;
}


.differ-btn {
    width: 95%;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: var(--header-border-radius);
}

.text-center {
    text-align: center;
}

.option-close > .span {
    text-decoration: none;
    color: var(--font-color);
    display: inline-block;
    width: 100%;
    height: 100%;
}

.option-logout > .span {
    text-decoration: none;
    background-color: transparent;
    border: 0;
    outline: 0;
    color: var(--font-color);
    display: inline-block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.option > * {
    position: relative;
}

.option img {
    right: 1rem;
}

.option span {
    color: var(--font-color);
    opacity: .3;
    left: 1rem;
    text-decoration: none;
    font-family: CarosLighter;
}

.user-option > * {
    position: relative;
}

.user-option img {
    right: 1rem;
}

.user-option span {
    opacity: .3;
    left: 1rem;
    text-decoration: none;
    font-family: CarosLighter;
}

.username-span {
    font-size: var(--font-size);
    margin-right: 1rem;
    margin-left: 1rem;
}

/* Loading Animation */

.loader-1 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .75);
    z-index: 200;
}

.loader-1 div {
    position: fixed;
    top: 47%;
    left: 47%;
    transform: translate(-50%, -50%);
    height: 10rem;
    width: 10rem;
    border: 10px solid var(--secondary-color);
    border-radius: 50%;
    border-top-color: var(--primary-color);
    animation: rotate .4s ease-in-out infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0);
    } to {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes rotate {
    from {
        transform: rotate(0);
    } to {
        transform: rotate(360deg);
    }
}


/* Header css */

header {
    background-color: inherit;
    display: grid;
    grid-template-columns: inherit;
    padding: 2.3rem 0;
}

header > *:first-child {
    grid-column: 1/2;
}

.logo {
    font-family: BalsamiqSans;
}

#Group_4 > text {
    font-weight: lighter;
    font-family: BalsamiqSans;
}

header > *:last-child {
    grid-column: 3/4;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 3rem;
}

.nav-link {
    text-decoration: none;
    color: var(--font-color);
    font-size: clamp(.5em, .7em, 1.5em);
    margin: 0 1.5rem;
    display: flex;
}

.nav-link.login {
    border-radius: var(--border-radius) !important;
    font-size: 1.6rem;
    border-radius: 11px;
    padding: .4rem 2rem;
    border: 2px solid var(--primary-color);
    transition: 0.33s ease-out;
}

.nav-link.login:hover {
    background-color: var(--primary-color);
}

.nav-link.profile {
    background: var(--header-menu-bg-color);
    padding: .6rem .3rem;
    border-radius: var(--border-radius) !important;
    transition: 0.4s ease-out;
    margin-left: .7rem;
}

.nav-link.profile.after-authenticate {
    background: var(--after-authenticate-profile-menu-color) !important;
}

.user-icon-holder {
    background-image: url('../assets/tickets_history/bg_user.svg');
    height: 2rem;
    width: 4rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.user-icon-holder img {
    position: relative;
    left: 5px;
    top: 1px;
    width: 1.8rem;
}


.burger-icon {
    margin-left: .4rem;
    width: 1.4rem;
    position: relative;
    left: .7rem;
}

.location img {
    width: 50%;
    position: relative;
    left: 2rem;
}

.profile-icon {
    vertical-align: middle;
    width: 2rem;
    margin-left: 6px;
    position: relative;
    left: .5rem;
}




/* Home Page css */


main {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto-fit, 1fr));
}

.container {
    box-shadow: 0 0 12px -6px rgba(0, 0, 0, .5);
    display: grid;
    grid-template-columns: repeat(2, minmax(auto-fit, 1fr));
    grid-template-rows: minmax(50vh, 70vh);
}


.movie-cards-container {
    display: flex;
}

.movie-details {
    margin-right: 2rem;
}

.movie-details-container {
    display: flex;
}

.movie-details-container > * {
    width: 11em;
}


/* Hero Container css */

.hero-container {
    background-image: url('../assets/body/image.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    grid-template-columns: inherit;
    grid-template-rows: minmax(50vh, 70vh);
}

.hero-container > * {
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .75);
}

.hero-container > *:first-child {
    grid-column: 1;
    border-right: 5px solid var(--dark-theme-color);
}

.hero-container > *:last-child {
    grid-column: 2;
    display: flex;
}

.__h0 {
    font-size: 2.5rem;
    width: clamp(10em, 15em, 17em);
    margin-bottom: 0;
}

.__h1 {
    font-size: 2rem;
    width: clamp(10em, 15em, 17em);
    margin-bottom: 0;
}

.__p {
    font-size: 0.6em;
    font-weight: lighter;
    width: clamp(10em, 20em, 25em);
    font-family: CarosLighter;
}

.btn {
    padding: 1.5rem 1rem;
    background-color: var(--primary-color);
    color: var(--font-color);
    border: 0;
    border-radius: var(--border-radius);
    width: 2.5in;
    outline: 0;
    transition: 0.2s ease-out;
    cursor: pointer;
    font-size: var(--font-size);
    text-decoration: none;
}

.btn:hover,
.btn:focus {
    box-shadow: 0 2px 7px rgba(199, 54, 54, 0.767);
}


/* Route Map container css */

.route-map-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto-fit, 1fr));
    background-image: url('../assets/body/projection.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
    padding: 0 0 10em 0;
    background-blend-mode: multiply;
}

.route-map-container > *:first-child {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(4em, 8em);
    place-items: center;
}

.route-map-container > *:first-child > * {
    text-align: center;
    position: relative;
    top: 1.5em;
}

.route-map-container > *:last-child {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto-fit, 30em));
    grid-auto-flow: row;
    background-image: url('../assets/body/workflow_path.svg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 80% 80%;
}

.route-map-container > *:last-child > * {
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center
}

.step-three {
    margin-top: 1em;
}

.route-map-container > *:last-child > * > *:first-child {
    width: 5em;
}

.route-map-container > *:last-child > *:first-child {
    grid-column: 1;
}

.route-map-container > *:last-child > *:nth-child(2) {
    grid-column: 2;
}

.route-map-container > *:last-child > *:last-child {
    grid-column: 3;
}

.step-one {
    position: relative;
    top: 3em;
    right: 1.5em;
}
.step-two {
    position: relative;
    top: .7em;
    right: 0.5em;
}
.step-three {
    position: relative;
    top: 3em;
    left: 1.5em;
}


.steps :is(.title) {
    color: var(--primary-color);
    font-size: 1.8rem;
}

.steps :is(.description) {
    color: var(--font-color);
    font-size: 1.2rem;
    width: max(20ch, 30ch);
    text-align: center;
    font-family: CarosLighter;
    margin: 0;
}

.mark {
    color: var(--primary-color);
}

/*  Movies container css*/

.movies-container {
    padding: var(--fixed-margin);
}

.mcontainer {
    position: relative;
    overflow-x: scroll;
    height: 25em;
}

.mcontainer::-webkit-scrollbar {
    -webkit-appearance: none;
}

.movie-heading {
    margin-bottom: 3rem;
}

.movies_container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    position: absolute;
    cursor: pointer;
}

.movie-card {
    flex-basis: 1 1 100%;
    width: 25rem;
    height: 35rem;
    margin-top: 5rem;
}

.movie-card-img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.img-movie {
    height: auto;
    width: 11em;
    height: 16em;
    border-radius: var(--border-radius);
    margin-right: 2rem;
}

.img-movie > img {
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius);
}

.movie-name {
    font-size: 1.6rem;
}

.status {
    font-size: 1.3rem;
    opacity: 0.58;
    font-family: CarosLighter;
}

.languages {
    font-size: 1.3rem;
    opacity: .58;
    font-family: CarosLighter;
}


.arrow-right-container {
    background-color: var(--dark-theme-color);
    width: 2rem;
    border: 2px solid red;
    position: fixed;
    left: 90%;
    top: 50%;
    transform: translateY(-50%);
}

.arrow-right-container img{
    display: none;
}

/* Partners container css*/

.partners-container {
    border-top: 2px solid var(--secondary-color);
    padding: 3.5em 0;
}

.logos-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(auto-fit, 10rem));
    grid-template-areas: "logo1 logo2 logo3 logo4";
    padding: 0 var(--fixed-margin);
    place-items: center;
}

.partners-heading {
    width: 100%;
    text-align: center;
    height: 3em;
}

.logo_p {
    width: 10rem;
}

.logo_p img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.logo1{
    grid-area: logo1;
}
.logo2{
    grid-area: logo2;
}
.logo3{
    grid-area: logo3;
}
.logo4{
    grid-area: logo4;
}
.logo4 > img {
    height: 2em !important;
}

/* Footer css */

footer {
    background-image: url('../assets/body/projection.svg');
    background-size: 50em;
    background-repeat: no-repeat;
    background-position: bottom center;
    border-top: 2px solid var(--secondary-color);
}

footer svg {
    position: relative;
    top: 3rem;
}

.btm-options1 .nav-link,
.btm-options2 .nav-link {
    position: relative;
    width: 12rem;
}

.nav-link img {
    margin-right: 1.3rem;
}


.btm-options-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto-fit, 5em));
    grid-template-rows: minmax(8em, 10em);
}

.btm-options1 {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btm-options1 > *,
.btm-options2 > * {
    line-height: 2;
    font-family: CarosLight;
}

.btm-options2 {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btm-logo-container {
    display: grid;
    grid-template-rows: 6em;
}

.btm-logo-container > svg {
    margin-top: 2em;
}

/* Register Page css */

.layout-container {
    position: relative;
}

.register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('../assets/register/background_image.svg');
    background-color: rgba(0,0,0, .6);
    background-size: cover;
    margin-bottom: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
}

.register-container::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('../assets/register/transparent_background.svg');
    z-index: -1;
}

.register-container .logo-container {
    position: absolute;
    top: 1em;
    left: var(--fixed-margin);
}

.register-form {
    width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/register/ticket_background.svg');
    background-position: center;
    background-size: 100% 100%;
    padding: 7em 2rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 20em .001em 0;
}

.register-heading {
    font-size: var(--mini-heading-font-size);
    width: clamp(15em, 20em, 25em);
    margin: 3rem 0 1rem -1rem;
    padding: 2rem 0 1rem 0;
}

.register-form .input-field {
    width: 24em;
    background-color: #2f2f2f;
    margin: 0;
}

.register-footer div {
    margin-left: var(--fixed-margin);
}

/* To remove step spinners in input type number input field */

.input-field[type="number"] {
    -moz-appearance: none;
    -webkit-appearance: none;
}

.input-field::-webkit-outer-spin-button,
.input-field::-webkit-inner-spin-button {
    /* -webkit-appearance: none; */
    visibility: hidden;
    margin: 0;
}

.seperator {
    margin: 0 2rem;
}

.input-field-container {
    margin-bottom: 2rem;
}

.ticaret-input-field {
    margin-right: 0 !important;
    position: relative;
}

.ticaret-input-field::-webkit-outer-spin-button,
.ticaret-input-field::-webkit-inner-spin-button {
    visibility: visible;
}

.otp-section {
    margin: 0;
}

.input-field.otp-field {
    width: 12em;
    margin-left: 2.4rem;
}

.form-btn.otp {
    background-color: var(--primary-color);
    width: 10em;
}

.form-btn.register {
    background-color: var(--primary-color);
    margin: 3rem 0;
    color: rgba(248, 68, 100, 1);
    border-color: rgba(248, 68, 100, 1);
}

.form-btn.register:hover {
    box-shadow: inset 1px 3px 2px rgba(246, 68, 100, .7),
    0 3px 2px rgba(246, 68, 100, .7);
}

.register-form footer {
    margin-top: -2rem;
    border: 2px solid red;
}



/* Login Page css */

.overlay-fixed {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 300vw;
    display: flex;
    flex-direction: column;
    z-index: 0;
    background-color: rgba(0,0,0,.7);
}


.login-form {
    height: 85vh;
    width: 100%;
    position: fixed;
    left: 50%;
    top: 50%;
    background-image: url('../assets/header/ticket_background.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: translate(-50%, -50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right {
    position: fixed;
    right: 12rem;
    top: 3rem;
    cursor: pointer;
    text-decoration: none;
    animation: focus 1s ease-in-out infinite;
}

@keyframes focus {
    0% {
        transform: scale(1)
    } 100% {
        transform: scale(1.2)
    }
}

.form-container {
    position: relative;
    bottom: 10vh;
}



.user-icon-login {
    position: relative;
}

.user-icon-login > img {
    height: 80%;
}

.input-field {
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    width: 30rem;
    height: 3.5em;
    border: 0;
    display: inline-block;
    padding: 0 1.5rem;
    margin: 1rem 0;
    outline: 0;
    color: rgba(245, 240, 240, 0.671);
    font-family: CarosLight;
    font-size: var(--font-size);
}

.input-field:hover,
.input-field:focus {
    box-shadow: 0 2px 5px var(--primary-color);
}

.form-btn {
    border: 2px solid var(--primary-color);
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    width: 15rem;
    height: 3.2em;
    outline: 0;
    color: var(--font-color);
    font-family: CarosLight;
    font-size: var(--font-size);
    cursor: pointer;
    margin: 1rem 0 0;
}

.form-btn:hover,
.form-btn:focus {
    box-shadow: 0 2px 5px var(--primary-color);
}

.middle-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30em;
    text-align: center;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 1.7em;
}

.middle-options > *,
.middle-options > * a {
    color: var(--gray-color);
    line-height: 1.3;
}

.nav-link.forgot-password {
    text-decoration: underline;
}

.nav-link.register {
    display: inline;
    text-decoration: underline;
    margin-left: 1rem;
}

.nav-link.register:hover,
.nav-link.forgot-password:hover {
    color: var(--font-color);
}

.login-with{
    background-color: transparent;
    width: 14rem;
    height: 3.5em;
    border: 0;
    outline: 0;
    color: var(--font-color);
    font-family: CarosLight;
    font-size: var(--font-size);
    margin-right: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* .login-with:hover,
.login-with:focus {
    box-shadow: 0 2px 5px var(--primary-color);
} */

.login-with img {
    width: 2rem;
    margin-left: 2rem;
    border-radius: 100vh;
}

.login-with > * {
    cursor: pointer;
    margin-right: 2.5rem;
}

.login-with span {
    font-family: CarosLight;
    margin-top: 1px;
}

.google span {
    position: relative;
    right: 1.5rem;
}

.facebook img {
    position: relative;
    left: 1.5rem;
}

.logins-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 230;
}

@media (max-width: 4000px) {
    .logins-container {
        margin-top: 5em;
    }

}

@media (max-width: 1024px) {
    .logins-container {
        margin-top: 5em;
    }
    .middle-options {
        margin-top: 2em;
    }
}

@media (max-width: 768px) {
    .logins-container {
        margin-top: 5em;
    }
    .middle-options {
        margin-top: 2em;
    }
}

@media (max-width: 430px) {
    .logins-container {
        margin-top: 5rem;
    }
    .middle-options {
        margin-top: -1rem;
    }
}

@media (max-width: 380px) {
    .logins-container {
        margin-top: 4rem;
    }
    .middle-options {
        margin-top: -2rem;
    }
}

@media (max-width: 320px) {
    .logins-container {
        margin-top: 1em;
    }
    .middle-options {
        margin-top: -2em;
    }
}


/*




/* Location Page css */

.location-container {
    display: grid;
    grid-template-columns: inherit;
}

.location-container > *:first-child {
    grid-column: 2;
}




/* Profile Page css */

.profile-container {
    display: grid;
    grid-template-columns: inherit;
}

.profile-container > *:first-child {
    grid-column: 2;
}


/*  Buy tickets css */

.buy-tickets-container {
    margin-top: 2rem;
    padding: 12px;
}

.buy-tickets-container::-webkit-scrollbar {
    -webkit-appearance: none;
    width: .5rem;
    background-color: var(--secondary-color);
    opacity: .5;
}

.buy-tickets-container::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border: 2px solid transparent;
}
.buy-tickets-container::-webkit-scrollbar-button {
    background-color: var(--font-color);
    height: .5rem;
}

.movies-heading {
    font-family: CarosLighter;
    color: var(--font-color);
    font-size: var(--font-size);
    margin: 5rem 1rem 3rem 0;
}

.buy-tickets-moives-container {
    position: relative;
    cursor: pointer;
}

.buy-ticket-movie-img-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2em 2rem;
}

.buy-ticket-movie-details-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15em 2rem;
    margin-top: -29em;
}

.buy-movie-details {
    width: 12em;
    margin-top: 2rem;
    margin-bottom: 3em;
    position: relative;
    bottom: 2.5rem;
    color: var(--font-color);
    text-decoration: none;
}

.buy-movie-img-movie {
    width: 12em;
    height: 18em;
    margin: 0 0 5em;
}

.buy-movie-img-movie > img {
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
}




.lang-btn {
    padding: 1rem 0;
    color: var(--font-color);
    border: 0;
    border-radius: var(--border-radius);
    width: 1.25in;
    outline: 0;
    transition: 0.2s ease-out;
    cursor: pointer;
    font-size: var(--font-size);
    text-decoration: none;
    margin-right: 3rem;
    border: 2px solid var(--primary-color);
}

.lang-btn:focus {
    background-color: var(--primary-color);
}

.selected {
    background-color: var(--primary-color);
}

.unselected {
    background-color: var(--dark-theme-color);
}

/* Movie Details Css */

.small-p {
    font-size: 1.3rem;
    color: var(--font-opac-color);
}

.movie-details-hero-container {
    padding: 5em 0;
    background-image: url('../assets/buy_ticket/hero_bg.svg');
    background-size: cover;
    background-position: 10% 100%;
    background-repeat: no-repeat;
    height: 20em;
    position: relative;
    box-shadow: inset -10rem 0 0 90rem rgba(0,0,0,.4);
}

.auto-adjust-padding-all {
    padding: 0 calc(var(--fixed-margin) - 2rem);
}

.overlay {
    position: absolute;
    top: 0;
    height: inherit;
    width: 100%;
    background-image: url('../assets/buy_ticket/transparency_black_background.svg');
    background-size: cover;
    background-position: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-white {
    color: var(--font-color) !important;
}

.spread-all {
    display: inline-block;
    line-height: 3;
    width: 100% !important;
    height: 100% !important;
}

.movie-details-chair-container {
    position: relative;
    top: -50%;
    left: 70%;
    height: inherit;
    padding-left: 10em;
    border-radius: 15px 0 0 15px;
}

.chair-container {
    position: absolute;
    top: 20%;
    transform: translateY(-20%);
}

.mg-4 {
    margin-top: 2rem;
}

.small-desc-container {
    display: flex;
}
.small-desc-container > div {
    margin-right: 5rem;
}

.l-1 {
    position: relative;
    left: 1rem;
}

.l-2 {
    position: relative;
    top: 2rem;
}

.fa.fa-angle-left {
    border: 0;
    font-size: 2rem;
    color: white;
}

.theatre-list-container {
    min-height: 100vh;
    margin-top: 2rem;
    margin-bottom: 6rem;
}

.date-wrapper {
    display: flex;
    align-items: center;
}

.dates-scrollable-container {
    display: flex;
    margin-bottom: 2rem;
}

.dates-scrollable-container > div {
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .2rem 0;
}

.circle {
    border-radius: 100vh;
    background-color: rgba(255, 255, 255,.6);
    position: relative;
    top: .2rem;
}

.circle.small {
    height: 1.2rem;
    width: 1.2rem;
}

.circle.large {
    height: 1.5rem;
    width: 1.5rem;
    background-color: var(--primary-color);
}

.this-selected {
    position: relative;
    /* bottom: .6rem; */
    color: var(--primary-color);
    font-size: var(--font-size);
}

.clear_padding {
    padding: 0;
}

.not-selected {
    position: relative;
    top: 1rem;
    font-size: var(--very-small-font-size);
}

.search-bar-container {
    margin-top: 3rem;
}

.search-bar-field {
    background-color: rgba(255, 255, 255, .2);
    color: var(--font-color);
    padding: 1.5rem 2rem;
    width: 50%;
    border: 0;
    border-radius: var(--border-radius);
    font-size: var(--font-size);
    outline: 0;
}

.search-bar-field:focus,
.search-bar-field:hover {
    box-shadow: 0 5px 7px -2px rgba(199, 54, 54, 0.767);
}

.theatre-list-wrapper {
    margin-top: 3em;
}

.theatre-details-item-wrapper {
    font-size: var(--font-size);
    color: var(--font-color);
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.theatre-details {
    display: flex;
    flex-direction: column;
}

.theatre-name {
    color: var(--font-opac-80-color);
    font-size: var(--small-font-size);
}

.theatre-location {
    color: var(--font-opac-color);
    font-size: var(--very-small-font-size);
    margin-top: 1rem;
}

.theatre-timings-wrapper {
    width: 50vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.theatre-timing-btn {
    width: 8em;
    height: 100%;
    border: 1px solid var(--thetre-timing-border-color);
    border-radius: var(--border-radius);
    background-color: var(--theme-color);
    color: var(--font-opac-color);
    position: relative;
    outline: 0;
    cursor: pointer;
}

.theatre-timing-btn::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 96%;
    background-color: var(--primary-color);
    top: 100.5%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
}

.theatre-timing-btn._50_percent::before {
    background-color: var(--warning-color);
    width: 50%;
    left: 3px;
    transform: translateX(0%);
}

.theatre-timing-btn._100_percent::before {
    background-color: var(--success-color);
    width: 96%;
}

.theatre-timing-btn._70_percent::before {
    background-color: var(--success-color);
    width: 70%;
    left: 3px;
    transform: translateX(0%);
}

.theatre-timing-btn._20_percent::before {
    background-color: var(--primary-color);
    width: 20%;
    left: 3px;
    transform: translateX(0%);
}

.make-link {
    text-decoration: none;
    color: var(--font-opac-color);
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.search-wrapper {
    position: relative;
}

.mb-0 {
    margin-top: 3rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mr-2 {
    margin-right: 2.3rem;
}

.search-icon {
    display: inline-block;
    position: absolute;
    right: 46.5vw;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.ml-1 {
    margin-left: 1rem;
}

.apply-cursor {
    cursor: pointer;
}



/* Theatre Model Css */

.fixed-page {
    min-height: 100vh;
    min-width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: var(--dark-theme-color);
}

.auto-adjust-vertical {
    margin: 1em var(--fixed-margin);
}

.theatre-back-icon {
    width: 2rem;
    height: 2rem;
}

.theatre-model-btn {
    border: 1px solid var(--gray-color);
    border-radius: var(--border-radius);
    background-color: var(--dark-theme-color);
    color: var(--font-color);
    font-size: var(--very-small-font-size);
    width: 5.5em;
    height: 2.5em;
    padding: 0;
}

.make-link:focus,
.make-link:active,
.theatre-model-btn:active a,
.theatre-model-btn:focus a{
    background-color: var(--primary-color);
    color: #fff;
    border-radius: var(--border-radius);
}

.small_p {
    font-size: var(--very-small-font-size);
    color: var(--font-opac-color);
}

._80_color {
    color: var(--font-opac-80-color);
}

.theatre-details-top {
    display: flex;
}

.back-link {
    align-items: center;
    margin-top: 3rem;
}

.theatre-info {
    margin-left: 2rem;
    margin-top: 0;
}

.seats-status-container {
    display: flex;
    margin-left: auto;
    margin-right: 3em;
    margin-top: 2rem;
}

.seat-icon-div {
    margin-right: 2em;
    display: flex;
    align-items: baseline;
}

.seat-icon-div img {
    width: 2rem;
    height: 2rem;
}

.seat-icon-div p {
    position: relative;
    bottom: .5rem;
    left: 1rem;
}

.normal_p {
    font-size: var(--font-size);
}

.mb-1 {
    position: relative;
    bottom: 1rem;
}

.theatre-seating-model-container {
    min-height: 60vh;
    width: 50vw;
    background-image: url('../assets/icons_seat_allotment/screen_icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
    margin: 2em auto 2rem;
    display: flex;
    justify-content: center;
}

.grids {
    display: flex;
    margin-top: 1rem;
    justify-content: center;
    position: relative;
}

.mr-1 {
    margin-right: 1rem !important;
}


.middle-seats-grid {
    margin-top: 2rem;
    flex-direction: column;
}


.seat-icon {
    -webkit-appearance: none;
    width: 1.75rem;
    height: 1.75rem;
    background-image: url("../assets/icons_seat_allotment/not_available_icon.svg");
    outline: 0;
    display: inline-block;
    cursor: pointer;
    margin: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
}

.seat-icon:checked {
    background-image: url("../assets/icons_seat_allotment/your_seats_icon.svg");
}

.ml-2 {
    margin-left: 2rem;
}

.ml-3 {
    margin-left: 3rem;
}

.first-seat {
    margin-left: 2rem;
}

.flex-default {
    display: flex;
}

.available-seat {
    background-image: url("../assets/icons_seat_allotment/available_icon.svg");
}

.unavailable-seat {
    cursor: not-allowed;
}

.unavailable-seat:checked {
    background-image: url("../assets/icons_seat_allotment/not_available_icon.svg");
}

.grid-row {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    position: relative;
    height: 3rem;
}


.grid-row:last-child {
    margin-bottom: 0;
}

.middle-seats-grid div div {
    display: flex;
}

.seats-grid-container {
    position: relative;
    bottom: 2rem;
}

.right-sub-seats {
    margin-left: 2em;
}

.middle-seats-grid > .grid-row div .seat-icon,
.top-most-seats-grid div .seat-icon{
    margin: 1px;
}

.top-most-seats-grid {
    display: flex;
    flex-direction: column;
}

.top-most-seats-grid div {
    margin-bottom: .3rem;
}

.top-most-seats-grid {
    position: relative;
    margin: inherit 0;
}

.book-ticket-payment-btn-container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;
}

.book-ticket-payment-btn {
    border: 0;
    outline: 0;
    width: 50vw;
    height: 3em;
    background-color: var(--primary-color);
    color: var(--font-color);
    border-radius: var(--border-radius);
}






/* Resale Filling form page css */

.resale-form-container {
    min-height: 100vh;
    background-image: url("../assets/body/image.svg");
    background-size: 100% contain;
    background-repeat: no-repeat;
    box-shadow: inset 100vw 0 10em 10em rgba(0,0,0,.7),
    inset 10vw 0 10em 10em rgba(0,0,0, .9);
}

.flex-date-time{
    display:flex;
}

.date-time-field{
    margin-right: 7rem;
}

.auto-width{
    width: 50rem;
}

.small-width{
    width: 15rem;
    margin-right: 5rem;
}

.normal_p{
    font-size: 1.5rem;
}

.date-field{
    width: 20rem;
}

.time-field{
    width: 15rem;
}

.file-input-field-container {
    position: relative;
}

.custom-file-input::-webkit-file-upload-button {
    -webkit-appearance: none;
    background-color: var(--primary-color);
    color: var(--font-color);
    font-size: var(--font-size);
    width: 10rem;
    height: 3rem;
    border: 0;
    border-radius: var(--border-radius);
    position: absolute;
    left: 38rem;
    top: 50%;
    transform: translateY(-50%);
    outline: 0;
    z-index: 1222;
}

.custom-file-input {
    position: relative;
}

.custom-file-input::before {
    content: 'Upload Your Ticket';
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 999;
    padding-top: 1.7rem;
    padding-left: 1.2rem;
    left: 0;
    background-color: var(--secondary-color);
}


.form-btn-ticket-form {
    display: inline-block;
    text-decoration: none;
    border: 0 !important;
    background-color: var(--primary-color);
    height: 4.5rem !important;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.select{
    -webkit-appearance: none;
}
.select-container {
    position: relative;
}

.select-container::before {
    content: "";
    position: absolute;
    left: 47rem;
    top: 50%;
    transform: translateY(-50%);
    height: 1rem;
    width: 1rem;
    background-color: var(--primary-color);
    clip-path: polygon(100% 0%, 0% 0%, 50% 100%);
    z-index: 1222;
}

.ticket-history-top-header {
    display: flex;
}

.ticket-history-top-header div {
    margin-right: 3rem;
}

.ticket-history-top-header div:last-child {
    margin-left: auto;
}

.ticket-history-cards-container {
    margin: var(--fixed-margin) auto;
}

.history-img {
    width: 10rem;
    border-radius: var(--border-radius);
}

.ticket-history-card {
    display: flex;
    background-color: var(--ticket-card-bg-color);
    align-items: center;
    border-radius: var(--border-radius);
    justify-content: space-around;
    flex-flow: wrap;
    margin-bottom: 4rem;
}

.ticket-history-card > * {
    flex: 1 1 25rem;
}

.center {
    text-align: center;
}

.img-holder {
    margin-left: 5rem;
}

/*  Ticaret Ticket Model CSS */

.ticket-bg-wrapper {
    width: 80%;
    height: 45rem;
    background-image: url("../assets/tickets_history/ticket_bg_1.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.relative {
    position: relative !important;
}

.booked-ticket-posture-img {
    width: 15%;
    height: 10rem;
    object-fit: cover;
    position: absolute;
    top: -3rem;
    left: -3rem;
    border-radius: 15px;
}

.min-100-height {
    min-height: 100vh;
}

.booked-stamp-holder {
    width: 15rem;
    height: 15rem;
    position: absolute;
    right: -5rem;
    bottom: -5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../assets/tickets_history/stamp.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.ticket-bg-wrapper {
    display: flex;
}

.first-part {
    margin-top: 2rem;
}

.second-part {
    /* border: 3px solid red; */
    position: relative;
    left: 5rem;
}

.second-part > *{
    margin-bottom: 2rem !important;
}

.third-part {
    /* border: 3px solid red; */
    position: relative;
    left: 3rem;
}

.first-part > *{
    width: 100%;
    padding: 0 0 0 5rem;
}

.adapted-ones {
    flex: 1 1 33%;
}

.booked-stamp-span {
    display: inline-block;
    transform: rotate(-45deg);
}

.transparent-bg {
    background-color: var(--dark-theme-color) !important;
}

.transparent-bg-forgot {
    background-color: transparent !important;
}

.align-self-start {
    align-self: flex-start !important;
}
.ml-16 {
    margin-left: 16rem;
}
.w-5 {
    width: 50%;
    margin: 0 5rem;
}

.ml-5 {
    margin-left: 4.5rem;
}

.ml-6 {
    margin-left: 7rem;
}

.ml-7 {
    margin-left: 7.5rem;
}

.ml-8 {
    margin-left: 9.5rem;
}

.mh-50 {
    min-height: 50vh;
}

.remove-underline {
    text-decoration: none !important;
}

/* 404 page css*/

.min-all-100 {
    min-width: 100vh;
    min-width: 100vw;
}

.perfect-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-404-container {
    width: 300px;
    height: 300px;
    background-image: url(../assets/404_page/404_ticaret_style.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 5rem;
}

/* About us page css */

.about-hero-banner {
    background-image: url("../assets/about_page/about_hero_bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-hero-banner > *{
    width: 100%;
    align-self: center;
    justify-content: center;
}

.text-justify {
    text-align: justify;
    font-size: var(--font-size);
}


.about-hero-banner > * > *{
    margin-right: 3rem;
}

.first-part-of-about {
    margin-top: 5rem;
    flex-wrap: wrap;
}

.first-part-of-about > *{
    flex: 1 1 50%;
}

.network-img {
    height: 50vh;
    background-image: url("../assets/about_page/networked_collabration.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.second-part-of-about {
    margin-top: 4rem;
}

.auto-adjust-padding {
    padding: 2rem 5rem 5rem 1rem !important;
}

.team-container {
    padding: 1rem 0 5rem 0;
    border-top: 2px solid var(--secondary-color);
    margin-top: 3rem;
}

.team-container > * {
    margin-right: 4rem;
    text-align: center;
    flex: 1 1 50%;
}

.flex-row.auto-flow {
    flex-wrap: wrap;
}

p {
    font-size: var(--font-size);
    font-family: CarosLighter;
}