.moveDetailsHeroWrapper {
  padding: 3rem;
  height: 441px;
}

.movieDetails {
  width: 305px;
  margin: -1.6rem 0 1.6rem;
}

.paragraph.movieCard {
  font-family: "Caros Regular";
  font-size: var(--font-size, 16px) !important;
  margin: 0.5rem 0;
  color: var(--hero-text-color);
}

.starsWrapper > img {
  margin-right: 8px;
}

.flexRow {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: max-content;
  color: var(--hero-text-color);
}

.flexRow > * {
  color: var(--hero-text-color);
}
.flexRow img {
  margin-right: 0.5rem;
}
