.moveDetailsHeroWrapper {
  padding: 3rem;
  height: 441px;
}

.movieDetails {
  width: 305px;
  margin: 1.6rem 0;
}

.paragraph.movieCard {
  font-family: "Caros Regular";
  font-size: var(--font-size, 16px) !important;
  margin: 0.5rem 0;
  opacity: 0.51;
}

.starsWrapper > img {
  margin-right: 8px;
}

.flexRow {
  display: flex;
  gap: 2rem;
}
