.error-model-wrapper {
    width: 300px;
    height: 100%;
    margin: auto;
    max-width: 500px;
    text-align: center;
  }
  
  .error-model-wrapper img {
    object-fit: contain;
    width: 100%;
  }
  
  @media screen and (min-width: 700px) {
    .error-model-wrapper {
      width: 500px;
      padding-top: 2rem;
    }
  }